<h2 matDialogTitle>{{datas.name}}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="{{datas.name}}" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{datas.salary}}" formControlName="salary">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{datas.location}}" formControlName="location">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{datas.city}}" formControlName="city">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="close()">Close</button>
  <button (click)="save()">Save</button>
</mat-dialog-actions>
