@model necore.model.UserLogin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>
       OTP
    </title>
</head>
<body>
    <form asp-action="Otp" asp-controller="home" method="post">
        <div class="container-fluid" style="margin-top:15%;">

            <div style="margin:auto;width:20%;">
                <p><i>HI @ViewBag.user</i> </p>
                <label for="Otp">OTP:</label>
                <input type="number" size="6" asp-for="Otp" class="form-control" placeholder="OTP" />
            </div>
            <br />
            <center>
                <div>
                    <input type="submit" class="btn btn-danger" value="Submit" />
                </div>
                @ViewBag.error
                @ViewBag.log
            </center>
        </div>
    </form>
</body>
</html>