@model necore.model.UserLogin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>
        Password
    </title>
</head>
<body>
    <form asp-action="Password" asp-controller="home" method="post">
        <div class="container-fluid" style="margin-top:15%;">
            
            <div style="margin:auto;width:40%;">
                <p><i>HI @ViewBag.user</i> </p>
                <label for="Password">Password:</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
            </div>
            <br />
            <center>
                <div>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
                @ViewBag.error
            </center>
        </div>
    </form>
</body>
</html>